/.idea
*.iml

#client-side
/client-side/.idea
/client-side/target

#converterExample
/ConverterExample/.idea
/ConverterExample/target

#server-side
/server-side/.idea
/server-side/target
/xml2rdf-converter/target/